<div class="footer">
    <div class="container py-5">
        <div class="row text-white  text-center">
            <div class="col-12 col-sm-4">
                <a href="">Contactanos</a><br><br>
                <a href="">Terminos y Condiciones</a><br><br>
                <a href="">Politicas de Datos</a><br><br>
            </div>
            
            <div class="col-12 col-sm-4">
                <hr>
                <p>Linea de Atencion</p>
                <p>Cel: +573160971606</p>

                <p>Encuentranos en: <br>
                    Centro Comercial Parque Heredia <br>
                    Local 123 <br>
                    Cartagena - Bolivar
                </p>
                
            </div>
            <div class="col-12 col-sm-4">
                <div class="icon-p">
                    <img  src="/img/facebook.png" alt=""> <a href="https://www.facebook.com/profile.php?id=61558735174925">Home Store CTG</a>
                </div>
                
                <div class="icon-p mt-3">
                    <img  src="/img/instagram.png" alt=""> <a href="https://www.instagram.com/homestore_ctg?igsh=MWlxcTd4YmxoM3drcw==">Homestore_ctg</a>
                </div>
                
            </div>
        </div>
    </div>
    <div>
        <hr class="hr">
        <div class="text-center text-white pb-2">
            <p>Desarrollado: JZ</p>
        </div>
    </div>
</div>