<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 text-center">Centros de Entretenimientos para TV</h1>
      <p class="lead text-center">Transforma tu hogar con diseños exclusivos y personalizados.</p>
    </div>
  </div>

  <div class="mb-5">
    <div class="container-f">
        <div *ngFor="let mueble of muebles" class="card mr-2" style="width: 25rem;">
            <img src="/img/{{mueble.imagen}}" class="card-img-top">
            <div class="card-body">
              <h4 class="card-title">{{mueble.nombre}}</h4>
              <p class="card-text"><span>Especificaciones Tecnica: </span>{{mueble.descripcion}}</p>
              <div>
                <ul>
                  <li>Resistente a la humedad.</li>
                  <li>Resistencia al rayado.</li>
                  <li>Resistencia al las manchas.</li>
                  <li>Resistencia al calor.</li>
                </ul>
              </div>
              <a href="https://wa.me/message/JMNANPLSHPG3G1" class="btn btn-success ">Cotizar Ahora</a>
            </div>
        </div> 
    </div>
  </div>

 